* {
	margin: 0;
	padding: 0;
	font-size: 24px;
}

div.contents {
	display: none;
}

h1 {
	text-align: center;
	margin-top: 350px;
	font-size: 42px;
}

h2 {
	background-color: #799e54;
	border-bottom: 3px solid #000;
	padding: 10px;
	margin-bottom: 10px;
}

li {
	margin-left: 30px;
}

div.navi {
	position: absolute;
	top: 0px;
	height: 100%;
	width: 25%;
	z-index: -1;
}
div#left-navi {
	left: 0px;
	cursor: w-resize;
}
div#right-navi {
	right: 0px;
	cursor: e-resize;
}
div:hover.navi {
	background-color: #ccc;
	opacity: 0.2;
	filter:progid:DXImageTransform.Microsoft.Alpha(Enabled=1,Style=0,Opacity=20);
}

pre, 
code {
    font-size: 32px;
    overflow: auto;
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: pre-wrap;
    word-break: break-all;
}

